body {
    margin: 0;
    padding: 0;
    color: #777;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Lato", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #595959;
    font-family: "Abel", sans-serif;
}


/***************
	Parallax
****************/
.parallax {
    background-image: url("images/creditsbackground.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/****************
	Parallax End
*****************/

/**************
	Navbar
**************/
/*desktops*/
@media (min-width: 993px) {
    .navbar-custom {
        z-index: 2;
        background-color: rgba(212, 212, 212, 0);
        position: absolute;
        top: 3%;
        width: 100%;
    }

    #hamburgerImage {
        width: 16%;
        height: 15%;
    }
}

/*phones*/
@media (max-width: 992px) {
    .navbar-custom {
        z-index: 2;
        background-color: rgba(212, 212, 212, 0) !important;
        position: absolute;
        top: 2%;
        width: 100%;
    }

    .navbar-custom span {
        color: white;
        z-index: 1;
        font-size: 25px;
    }

    #hamburgerMainItems {
        display: none;
    }

    #hamburgerImage {
        width: 40px;
        height: 25px;
    }
}

/* navbar when scrolling */
@media (min-width: 992px) {
    .navbar-expand-lg a img {
        width: 55px;
        height: 40px;
    }

    .navbar-expand-lg div li div {
        width: 190px;
        height: 115px;
    }

    .navbar-expand-lg {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
        -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    }

    .nav-item i {
        display: none;
    }

    .nav-item hr {
        display: none;
    }

    .home-icon {
        padding-left: 25px;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg a img {
        width: 55px;
        height: 40px;
    }



    .navbar-expand-lg {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
        -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    }

    .dropdown-menu-nav {
        padding: 1.2% 1.2% 1.2% 1%;
        width: 200px;
    }

    .dropdown-menu-nav a:hover {
        text-decoration: underline;
    }

    .nav-item i {
        vertical-align: bottom;
        font-size: 25px !important;
        padding-right: 8px;
    }

    .home-icon {
        padding-left: 0;
    }
}


/***************
	Navbar End
***************/

/******************
	Hamburger
******************/
#hamburgerButton {
    position: relative;
    right: 4%;
    cursor: pointer;
    color: white;
    font-size: 45px;
}

/******************
	Hamburger End
******************/

/*******************
	Main Image Items
********************/
#superWrapper {
    position: absolute;
    top: 32.5%;
    left: 20%;
    width: 100%;
}

.mainImageElement {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 60%;
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
}

.mainImageElement a {
    display: inline-block;
    font-size: 20px;
    color: white;
    text-align: left;
    font-size: 1.1vw;
    padding: .7%;
}

@media (max-width: 800px) and (min-width: 0) {
    .mainImageElement a {
        padding: 2%;
        font-size: 2.5vw;
        border-radius: 10%;
    }
}

@media (max-width: 1500px) and (min-width: 801px) {
    .mainImageElement a {
        padding: 0.65%;
        border-radius: 10%;
        font-size: 1.65vw;
    }
}

.mainImageElement h1 {
    color: white;
    padding: 0 5% 0 5%;
    font-size: 5vw;
}

/************************
	Main Image Items End
************************/

/******************
	Slideout
******************/
#slideout {
    height: 100%;
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.close {
    float: left;
}

.material-airplane {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slideout-button {
    background-color: #f2f2f2;
    border: 0;
    color: #4d4d4d;
}

@media (min-height: 501px) {
    .slideout-button {
        padding: 5%;
    }

    .dropdown-menu-slideout {
        padding: 10% 10% 2% 10%;
        height: 135px;
    }

    .dropdown-menu-slideout {
        width: 170px;
        height: 100px;
        background-color: #f2f2f2;
    }
}

/* set up so if the more button goes off of initial screen the button will be brought back
 on and sets the more button width and height for smaller screens */
@media (max-height: 500px) {
    .slideout-button {
        padding: 2.3%;
    }

    .dropdown-menu-slideout {
        height: 90px;
        padding-left: 10px;
        background-color: #f2f2f2;
    }
}

#slideout button i {
    vertical-align: bottom;
    font-size: 23px !important;
    padding-right: 8px;
}

.btn-group {
    padding: 5% 5% 0 10%;
}

.dropdown-menu-slideout a {
    color: #1c1c1c;
}

#slideout button:hover {
    text-decoration: underline;
}

#slideout img {
    width: 20%;
    height: 20%;
}

#sliderCompany {
    font-weight: 600;
    color: #4d4d4d;
    text-align: center;
}

/******************
	Slideout End
******************/

/****************
	Infos
*****************/
@media (min-width: 1186px) {
    #bookingInfoWrapper {
        position: relative;
        width: 100%;
        text-align: center;
    }

    #bookingInfoWrapper img,
    #bookingInfoText {
        display: inline-block;
        width: 40%;
        margin-top: 7%;
        margin-bottom: 3%;
    }

    .bookingInfoTextElement {
        padding-left: 5%;
        font-size: 1.1vw;
    }

    #bookingInfoText {
        text-align: left;
    }

    #bookingInfoText a {
        margin-left: 7.5%;
    }
}

@media (max-width: 1186px) {
    #bookingInfoWrapper {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .bookingInfoTextElement {
        padding: 0 17.5% 0 17.5%;
        padding-left: 5%;
    }

    #bookingInfoText {
        text-align: left;
        padding-left: 5%;
        font-size: 2vw;
    }

    #bookingInfoText a {
        margin-left: 5%;
    }

    #bookingInfoText h3 {
        padding-top: 5%;
    }

    #bookingInfoWrapper img {
        padding-top: 10%;
        width: 85%;
    }
}


#wrapperCards {
    width: 100%;
    text-align: center;
}

.card {
    display: inline-block;
    width: 30%;
    margin-top: 7%;
    margin-bottom: 8%;
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    font-size: 1.1vw;
}
.card img {
  height: 100%;
  width: 100%;
}

.card:nth-child(1) {
    margin-right: 7.5%;
}

.card p {
    text-align: left;
}
@media (max-width: 1150px) {
    .card {
        font-size: 1.4vw;
        width: 40%;
    }
}

@media (max-width: 800px) {
    .card {
        width: 75%;
        font-size: 3.6vw;
        margin-right: 0;
    }

    .card:nth-child(1) {
        margin-right: 0;
    }

    .card a {
        font-size: 3.5vw;
    }
}

.card h1 {
    font-size: 1.1vw;
}

.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}
.about-col a {
  font-size: 20px;
}
.about-col img {
  width: 100%;
  height: 75%;
}
.about-col h1 {
  padding-top: 0;
}
.about-col p {
  padding: 15px 0 25px;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}
.red-btn {
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}
.red-btn:hover {
  color: #fff;
}
@media(max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/*************
	Infos End
**************/

/******************
	Reviews Start
*******************/
/*
#reviews {
	position: relative;
	text-align: center;
	width: 100%;
	background-color: #f5f7fa;
	margin-bottom: 8%;
}
.review {
	-webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 15px rgba(0,0,0,0.2);
	box-shadow: 0 3px 15px rgba(0,0,0,0.2);
	background-color: #fff;
	display: inline-block;
	width: 30%;
	max-height: 45%;
	margin-top: 7%;
	margin-bottom: 8%;
}
.review:nth-child(2), .review:nth-child(3) {
	margin-left: 2.5%;
}
*/
/******************
	Reviews End
*******************/

/*****************
  Explore Start
******************/
/*
#explore {
    background-color: #f5f7fa;
    width: 100%;
    height: 100%;
    padding: 4%;
}
#explore img {
    display: block;
    margin: auto;
    width: 60%;
    padding-bottom: 8%;
}
#explore div {
    position: absolute;
    margin-left: 25%;
    margin-top: 3.5%;
    background-color: white;
    width: 25%;
    height: 65%;
    padding: 4%;
}
*/
/*****************
	Explore End
******************/

/***********
	Footer
************/
.large-footer {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    width: 100%;
    height: 350px;
    background-color: #f2f2f2;
    font-size: 15px;
}

.small-footer {
    background-color: #f2f2f2;
}

.footerPart a {
    color: #1c1c1c;
    padding-top: 20px;
}
.footerPart a img {
  padding-top: 30px;
  height: 200px;
  width: 250px;
}

@media (max-width: 1000px) and (min-width: 600px) {
    .footerPart span {
        font-size: 20px;
    }

    .large-footer {
        display: none;
    }

    .small-footer img {
        width: 8%;
        height: 8%;
    }
}

@media (max-width: 600px) {
    .small-footer img {
        width: 16%;
        height: 16%;
    }

    .large-footer {
        display: none;
    }
}

@media (min-width: 1001px) {
    .footerPart span {
        font-size: 30px;
    }

    .small-footer {
        display: none;
    }

    .small-footer {
        width: 7.5%;
        height: 7.5%;
    }
}

.footerPart h5 {
    font-size: 20px;
    font-weight: bolder;
}

.footerPart img {
    width: 25%;
    height: 25%;
}

.footerPart span {
    color: #bfbfbf;
    font-weight: bolder;
}

.footerPart {
    width: 25%;
}

.footerPart:nth-child(1) {
    padding: 0 2.5% 0 2.5%;
}

.small-footer a {
    display: inline-block;
}

.footer-part-small {
    padding: 2% 0 3.5% 5%;
}

.footer-part-small a {
    color: #bfbfbf;
}

.footerPart h5 {
    font-size: 15px;
    color: #1c1c1c;
}

/**************
	Footer End
***************/

.btn-primary {
    background-color: red;
    border: 0;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #cc0000;
}
